
.container {
  background-color: #fbfbfb;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.containerHeader {
  margin: calc((100vh / 2) - 40px) auto 0;
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.containerHeaderGame {
  margin: 50px auto 0;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.moviePoster {
  margin: 0 auto;
}

.playIcon {
  cursor: pointer;
  margin-bottom: 20px;
}
